:root {
  --color-border: #424242;
  --color-bg: #111111;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  position: relative;
  background-color: var(--color-bg);
  font-size: 1.2rem;
  color: hsla(180, 7%, 75%, 0.9);
  overflow-x: hidden;
}

input,
button,
a {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}
